{% extends "base.html" %}
{% block content %}
<title>Task Manager - About</title>

<body>
    <!-- Page Content -->
    <div class="container">
        <!-- Heading Row -->
        <div class="row align-items-center my-5">
            <div class="col-lg-7">
                <img src="https://i1.sndcdn.com/avatars-000530797560-zky5dg-t500x500.jpg" height="400" width="600">
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-5">
                <h1>About</h1>
                <p style="margin-top:40px;font-size:20px;">개발 팀원 : 이지상, 정영도, 오수지, 이현수, 최영환</p>
                <p style="font-size:20px;">개발 기간 : 2021년 2월 4일 ~</p>
                <p style="font-size:20px;">핵심 기술 : 딥러닝 모델, 영상처리</p>
                <p style="font-size:20px;">사용 언어 : html, css, javascript, python</p>
                <p style="font-size:20px;">프레임워크 : Django
                    <p style="font-size:20px;">기대 효과 : 졸음 방지, 안구 건조증 예방</p>
                    <!--<a class="btn btn-primary" href="{% url 'Drowsiness' %}">실행</a>-->
            </div>
            <!-- /.col-md-4 -->
        </div>
        <h1>Project outline</h1>
        <div style="margin-top:40px;font-size:18px">
            <p>
                - 현대화 시대 또 경쟁의 시대에 뒤처지지 않으려면 하루빨리 자신들의 과업을 수행해야 한다. 요즘 정보화 시대에는 컴퓨터를 이용하여 일을<p></p>
                하거나 공부를 하는 사람들이 많을 거라고 생각하고, 컴퓨터나 노트북에 달려있는 웹캠 속 사람들의 얼굴을 인식하여 졸았을 때 졸음을 방지<p></p>
                할 수 있는 웹사이트나 앱을 만들면 어떨까 하는 생각이 들었다.<p></p>
                &nbsp;&nbsp;특히 마감 기한이 다가왔거나 매우 중요한 일과 프로젝트를 하는데 시간에 쫓겨 밤을 새는 경우도 많고, 여러 일이 동시에 쌓여서 일이 밀렸<p></p>
                을 때, 졸음이 쏟아져 나오는 상황이 한번쯤은 있었을 것이다. 졸다가 결국 모니터 앞에서 엎드려 자는 경우가 대부분이다. 이런 경우를 방지<p></p>
                하기 위한 졸음 방지 기능이 핵심이고 여러 부가기능이 담긴 프로젝트를 구상하였다.
            </p>
        </div>
        <!-- /.row -->
    </div>
    <!--Call to Action Well # 필요없는 부분이라 일단 지움-->
</body>
{% endblock %}