{% load static %}

<head>
    <title>TaskManager</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/mains2.css' %}" />
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <style>
        #msg{
            float:left;
        }
        #time_cnt{
            float:left;
            border: 2px solid #000;
            width: 210px;
            height: 70px;
            margin-left:70px;
            margin-top:460px;
        }
        #time{
            float:left;
            font-size: 200%;
            margin-left:40px;
        }
        #cnt{
            float:left;
            font-size: 200%;
            margin-left:50px;

        }
        .add{
            float:left;
            margin-top:15px;
            font-size: 100%;

        }
    </style>
</head>

<body style="background-color:#fafafa">
    <!-- Header -->
    <header id="header">
        <nav class="left">
            <a href="#menu"><span>Menu</span></a>
        </nav>
        <a href="{% url 'index' %}" class="logo">Task Manager</a>
        {% if user %}
        <nav class="right">
            <!--
                    <a class="button alt">{{user.username}}님</a>
                    <a class="button alt" href="{% url 'logout' %}">Logout</a>
                </nav>
                {% else %}
                <nav class="right">
                    <a class="button alt" href="login" >Log in</a>
                </nav>
                {% endif %}
                -->
    </header>
    <!-- Menu -->
    <nav id="menu">
        <ul class="links">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'freeboard' %}">게시판</a></li>
            <li><a href="{% url 'questionboard' %}">Q & A</a></li>
            <li><a href="{% url 'mypage' %}">마이페이지</a></li>
        </ul>
        <ul class="actions vertical">
            <li><a href="#" class="button fit">Login</a></li>
        </ul>
    </nav>
    <div class="all" style="background-color: #ffffff">
        <div class="cam">
            <video height="500" width="700" autoplay></video>
        </div>
        <img id="msg" src="/static/img/msg0.PNG" width="300" style="margin-left:100px; margin-top:450px">
        <div id="time_cnt">
            <div id="time" >0</div>
            <div class="add">/60</div>
            <div id="cnt" >0</div>
            <div class="add">번</div>
        </div>
        <div class="stw">
            <div>
                <h2>Stop watch</h2>
                <span id="postTestMin">00</span><!-- 분 -->
                <span>:</span>
                <span id="postTestSec">00</span>
                <!--초-->
                <span>.</span>
                <span id="postTestMilisec">00</span>
                <!--밀리초-->
            </div>
            <div>
                <ul id="testRecordList"></ul>
                <!--중간 기록할 리스트-->
            </div>
            <div>
                <button class="button" type="button" id="testStartBtn">START</button>
                <!--시작/재시작/기록 버튼-->
                <button class="button" type="button" id="testStopBtn">STOP</button>
                <!--스톱 버튼-->
            </div>
        </div>
        <div class="clock">
            <div class="time_box">
                <span class="txt_lg" id="hours"></span>
                <span class="mark">:</span>
                <span class="txt_lg" id="min"></span>
                <span class="mark02">.</span>
                <span class="txt_sm" id="sec"></span>
            </div>
            <div class="date_box">
                <span id="month"></span>
                <span class="point">.</span>
                <span id="date"></span>
                <span class="point">.</span>
                <span id="year"></span>
                <span id="day"></span>
            </div>
        </div>
        <span class="scheduler">
            <h1>TO DO LIST</h1>
            <p>공부할 주제를 기록해 보세요</p>
            <p>공부가 끝난 것은 클릭해서 삭제할 수 있습니다.</p>
            <form action="./createTodo/" method="POST">{% csrf_token %}
                <div class="input-group">
                    <input type="text" id="todoContent" name="todoContent" class="form-control">
                    <input type='date' id="reg_date" name="reg_date">
                    <input type='time' id="reg_time" name="reg_time"></p>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">입력</button>
                    </span>
                </div>
            </form>
            <!-- 여기는 미완료 투두리스트! -->
            <span>
                미완료 일정
            </span>
            <div class="toDoDiv">
                <ul class="list-group">
                    {% for todo in todos %}
                        {% for comp in comp_todos %}
                            {% if todo.id != comp.tid %}
                                <form action="./completeTodo/" method="GET">
                                    {% csrf_token %}
                                    <div class="input-group" name='todo1'>
                                        <li class="list-group-item">{{todo.content}} - {{ todo.reg_date }} / {{ todo.reg_time }}</li>
                                        <span class="input-group-addon">
                                            <button type="submit" class="custom-btn btn btn-danger" name="complete_id" value={{ todo.id }}>완료</button>
                                        </span>
                                    </div>
                                </form>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            <span>
                완료된 일정
            </span>
            <!-- 여기는 완료된 투두리스트! -->
            <div class="toDoDiv2">
                <ul class="list-group">
                    {% for todo in comp_todos %}
                    <form action="./deleteTodo/" method="GET">
                        {% csrf_token %}
                        <div class="input-group" name='todo2'>
                            <li class="list-group-item">{{ todo.content }} - {{ todo.end_date }} / {{ todo.end_time }}</li>
                            <span class="input-group-addon">
                                <button type="submit" class="custom-btn btn btn-danger" name="delete_id" value={{ todo.id }}>삭제</button>
                            </span>
                        </div>
                    </form>
                    {% endfor %}
                </ul>
            </div>
            <div>
            </div>
        </div>
        <div class="how">
            <p>※ 올바른 사용방법 ※</p>
            <p>ㆍ정확한 인식을위해 카메라각도를 얼굴 정면을 향하도록 하세요</p>
            <p>ㆍ주변 밝기가 너무 어두우면 인식의 어려움이 있을 수 있습니다</p>
        </div>
        <div class="tip">
            <a href="{% url 'tip' %}" target="_blank">
                <button class="button" type="button">tip</button>
            </a>
        </div>
    </div>
    <script src="{% static 'js/clock.js' %}"></script>
    <script src="{% static 'js/stop.js' %}"></script>
    <script src="{% static 'js/scheduler.js' %}"></script>
    <script>
    // get video dom element
    const video = document.querySelector('video');
    // request access to webcam
    navigator.mediaDevices.getUserMedia({ video: { width: 426, height: 240 } }).then((stream) => video.srcObject = stream);
    // returns a frame encoded in base64
    const getFrame = () => {
        const canvas = document.createElement('canvas');
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
        canvas.getContext('2d').drawImage(video, 0, 0);
        const data = canvas.toDataURL('image/jpeg');
        return data;
    }
    WS_URL = 'wss://ec2-3-37-253-183.ap-northeast-2.compute.amazonaws.com/ws/TaskManager'
    const FPS = 4;
    const ws = new WebSocket(WS_URL)
    ws.onopen = () => {
        console.log(`Connected to ${WS_URL}`);
        setInterval(() => {
            ws.send(getFrame());
        }, 500);
    }
    ws.onmessage = function(message){
        var data = JSON.parse(message.data);
        var message = data['message'];
        var time = data['time']
        var blinkCnt = data['blink_cnt_min']

        console.log(parseInt(time))
        $("#time").html(parseInt(time)); //jquery
        $("#cnt").html(parseInt(blinkCnt)); //jquery
        if(message=="0"){
            var image = document.getElementById("msg");
            image.src="/static/img/msg0.PNG"

        }
        else if(message=="1"){
            var image = document.getElementById("msg");
            image.src="/static/img/msg1.PNG"

        }
        else if(message=="2"){
            var image = document.getElementById("msg");
            image.src="/static/img/msg2.PNG"

        }
        else if(message=="3"){
            var image = document.getElementById("msg");
            image.src="/static/img/msg3.PNG"

        }
    };

    </script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
    <script src="{% static 'js/skel.min.js' %}"></script>
    <script src="{% static 'js/util.js' %}"></script>
    <script src="{% static 'js/mains.js' %}"></script>
</body>
<br><br>