{% extends "base.html" %}
{% block content %}

<head>
    <title>Document</title>
    <style>
    body {
        background-color: rgb(203, 228, 228);
    }

    #content {
        padding: 50px;
        border: 1px solid black;
        background-color: white;
    }
    </style>
</head>
<div id="content">
    <center>
        <h1>졸음 깨는 스트레칭!</h1>
        <iframe width="800" height="500" src="https://www.youtube.com/embed/WIKrfIdPMGM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
            encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </center>
</div>
{% endblock %}

</html>